<?xml version="1.0"?>
<launch>
    
    <!-- Launch file arguments -->
    <arg name="name"        default="ltms"/>
    <arg name="nats"        default="true"/>
    <arg name="location"    default="sml"/>

    <include if="$(eval location =='kip')" file="$(find aug_demo)/launch/broadcast_sensor.launch"/>

    <!-- Start NATS -->
    <node if="$(arg nats)" name="nats_connector" pkg="nats_ros_connector" type="nats_connector.py" output="screen">
        <rosparam subst_value="true">
        host: sml-wan.asuscomm.com
        subscribers:
          - sensor/objects
          - sensor/markers
          - svea2/state
          - svea2/remote/path
        services:
          - $(arg name)/verify_state
        </rosparam>
    </node>

    <!-- Start LTMS -->
    <node name="ltms" pkg="aug_demo" type="ltms.py" output="screen">
        <rosparam subst_value="true">
        name: $(arg name)
        location: $(arg location)
        </rosparam>
    </node>

</launch>
