<?xml version="1.0"?>
<launch>
    
    <!-- Launch file arguments -->
    <arg name="name"         default="ltms"/>
    <arg name="nats"         default="true"/>
    <arg name="location"     default="sml"/>
    <arg name="use_foxglove" default="true"/>

    <include if="$(eval location =='kip')" file="$(find aug_demo)/launch/broadcast_sensor.launch"/>

    <!-- Start NATS -->
    <node if="$(arg nats)" name="nats_connector" pkg="nats_ros_connector" type="nats_connector.py" output="screen">
        <rosparam subst_value="true">
        host: 130.237.50.52 # sml-wan.asuscomm.com
        subscribers:
          - sensor/objects
        services:
          - $(arg name)/verify_state
        </rosparam>
    </node>

    <!-- Start LTMS -->
    <node name="ltms" pkg="aug_demo" type="ltms.py" output="screen">
        <rosparam subst_value="true">
        name: $(arg name)
        location: $(arg location)
        </rosparam>
    </node>

    <!-- Start Foxglove -->
    <include if="$(eval use_foxglove)" file="$(find foxglove_bridge)/launch/foxglove_bridge.launch">
        <arg name="port" value="8765"/>
    </include>

    <arg name="map" value="sml"/>
    <node if="$(eval location == 'sml')" name="map_server" pkg="map_server" type="map_server" args="$(find svea_core)/maps/$(arg map).yaml" output="screen"/>

</launch>
