<?xml version="1.0"?>
<launch>

    <arg name="map"             default="sml"/>

    <!-- Start NATS -->
    <node name="nats_connector" pkg="nats_ros_connector" type="nats_connector.py" output="screen">
        <remap from="sensor/objects" to="objectposes"/>
        <rosparam>
        host: sml-wan.asuscomm.com
        publishers:
          - sensor/objects
        </rosparam>
    </node>

    <!-- Start map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find svea_core)/maps/$(arg map).yaml" output="screen"/>

    <node pkg="tf" type="static_transform_publisher" name="sensor_broadcaster" output="screen"
	  args="-2.0 -3.2 1.4 1.3962634 0 0 map zed_base_link 100"/>

    <include file="$(find svea_vision)/launch/zed_main.launch">
        <arg name="enable_bbox_image"   value="true"/>
        <arg name="aruco_size"          value="0.365"/>
        <arg name="only_objects"        value="person"/>
    </include>

</launch>
