# The docker build will install pip packages from this requirements file.
# Currently it is empty but it exist in case there is a future need. Projects based
# on this repository can use this to easily modify the build.
pyubx2
scipy
casadi==3.5.5
nats-py
flax>=0.6.6
jax>=0.4.2
numpy>=1.18.0
matplotlib
plotly
kaleido
tqdm
moviepy
scikit-image
ipywidgets
nbformat
ipympl